* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    background-color: rgb(248, 253, 255);
}

.App {
    width: 880px;
}

.post-enter {
    opacity: 0;
    transform: translateX(350px);
}

.post-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}